{% if errors %}
    <div class="container">
    	<div class="row">
    		<div class="col-md-10">
    			<div class="alert alert-danger">
			        <ul>
			            {% for error in errors %}
			                <li>{{ error|striptags }}</li>
			            {% endfor %}
			        </ul>
			    </div>
    		</div>
    	</div>
    </div>
{% endif %} 
